body {
    background: rgb(235, 235, 235);
    font-family: Arial, sans-serif;
    color: #333;
    height: 100vh;
}

.header{
    text-align: center;
    background: white;
    padding: 30px 50px 30px 50px;
}

.faq-container {
    background: rgb(235, 235, 235);
    padding: 30px 220px 30px 220px;
}

ul{
    padding-top: 30px;
    padding-bottom: 80px;
}